/* .Button :hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
} */
/* .Button:active {
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
} */
.Button {
  padding: 10px;
}

div.Button:hover {
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}
